<html>
    <meta charset='utf-8'>
    <head>
        <title>
            注册完成
        </title>
        <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.1.0/css/bootstrap.min.css">
        <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>
        <script src="https://cdn.bootcss.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class='card'>
            <p>注册完成，请注意查收邮件使用链接激活账户！</p>
        </div>
    </body>
</html>